{% for service_name, service in services|dictsort %}
{% for ep in service.get('public_tcp_endpoints', []) %}
{% if ep.get('ports', []) %}
{% for port in ep.ports %}
allow_port tcp {{ port }}
{% endfor %}
{% else %}
allow_port tcp {{ ep.port }}
{% endif %}
{% endfor %}
{% endfor %}
